# .github/workflows/main.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

permissions: {}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { persist-credentials: false }
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with: { enable-cache: false }
      - run: ./noxfile.py
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@20ea1983204bcf1386c39091939aeb12dd83b547 # v0.0.22
  matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - "" # use default in ./tests/matrix.sh
          - debian/13/cloud
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { persist-credentials: false }
      # setup-incus is pinned manually, beacuse the repository is not tagged
      # yamllint disable-line rule:line-length
      - uses: maxwell-k/setup-incus@b36d49cb1873ed93f9a69da39a8632e05d5005d1 # main
      - run: incus admin init --auto
      - run: tests/matrix.sh
        env:
          LOGNAME: maxwell-k
          MATRIX_IMAGE: ${{ matrix.image }}
