# .github/workflows/main.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

permissions: {}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with: { persist-credentials: false }
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with: { enable-cache: false }
      - run: ./noxfile.py
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@8b8dac4de7c4599bd2bbb80fb4857aa248a01eab # v0.0.21
  matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - "" # use default in ./tests/matrix.sh
          - debian/13/cloud
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with: { persist-credentials: false }
      # setup-incus is pinned manually, beacuse the repository is not tagged
      # yamllint disable-line rule:line-length
      - uses: maxwell-k/setup-incus@a14c4b5d766e96e0ee3095fcedd07e97b93b13db # main
      - run: incus admin init --auto
      - run: ./tests/matrix.sh
        env:
          LOGNAME: maxwell-k
          MATRIX_IMAGE: ${{ matrix.image }}
