# .github/workflows/main.yaml
# Copyright 2025 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

permissions: {}

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { persist-credentials: false }
      - run: bin/linux-amd64.toml
      - run: bin/github.toml
      #      bin/python.toml is not run, python3.13 is not installed
  main:
    runs-on: ubuntu-latest
    needs: smoke
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { persist-credentials: false }
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with: { enable-cache: false }
      - run: ./noxfile.py
  renovate-config-validator:
    needs: smoke
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@e4f20b5c4b2487e16deeb23f821f63e1cd26eecb # v0.0.24
  matrix:
    needs: smoke
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - "" # use default in ./tests/matrix.sh
          - debian/13/cloud
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with: { persist-credentials: false }
      # setup-incus is pinned manually, because the repository is not tagged
      # yamllint disable-line rule:line-length
      - uses: maxwell-k/setup-incus@68692c03e40a4b4022017117f08963c0fde79664 # main
      - run: incus admin init --auto
      - run: tests/matrix.sh
        env:
          LOGNAME: maxwell-k
          MATRIX_IMAGE: ${{ matrix.image }}
